<% if @included %>
  <% if @english_word %>
    <h2 class="h2-score"><strong>Congratulations!</strong> <%= @word %> is a valid English word!</h2>
  <% else %>
    <h2 class="h2-score">Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</h2>
  <% end %>
<% else %>
  <h2 class="h2-score">Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters.join(", ") %></h2>
<% end %>

<%= link_to "Play again", new_path %>
